<div id="page">
	<div id="content">
		<div id="content-bgtop">
			<div id="content-bgbtm">

<h1>Editing itinerary</h1>
<br />
<%= render 'form' %>

<%= link_to 'Show', @itinerary %> |
<%= link_to 'Back', itineraries_path %>

			</div>
		</div>
	</div>
</div>
<div style="clear: both;">&nbsp;</div>
<!-- end #page -->
<div id="sidebar">
</div>

	<!-- end #content -->

