<%= stylesheet_link_tag 'create-event', :media => 'screen' %>
<%= stylesheet_link_tag 'jquery-ui-1.8.15.custom', :media => 'screen' %>
<%= javascript_include_tag 'http://gettopup.com/releases/latest/top_up-min.js', 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js', :defaults, 'jquery-ui.min.js', 'jquery-ui-timepicker-addon.js' %>

<div id="Container">

	<div id="Activity_Icon">
		<img src="../images/GoingOut_Icon.png">
	</div><!-- end Activity_Icon div-->

	<%= render 'form' %>



	<!-- end Container div-->

