<%= stylesheet_link_tag 'invitefriends', :media => 'screen' %>
<div id="Container">
<div id="Friends_Attending">
	<h2>Invite Friends</h2>
</div><!-- end Friends_Attending div-->
<div id="With_Friends">
	
<%= render 'form' %>
</div>
