html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: 0;
	font-weight: inherit; 
	font-style: inherit;
	font-size: 100%; 
	font-family: inherit;
	vertical-align: baseline;
	background-color: #FFF;
}

#Container {
height: 200px;
width: 400px;
padding: 5px;
background-color: white;
border: solid 1px #000000;
border-radius: 8px 8px 8px 8px;
}

#Activity_Icon {
/*background-color: purple;*/
float: left;
height: 130px;
width: 50px;
padding: 5px;
}

#Activity_Icon img {
float: left;
height: 50px;
width: 50px;
}

#Venue_Search {
float: left;
height: 30px;
width: 325px;
/*background-color: red;*/
padding: 5px;
}

#Venue_Search textarea {
border-radius: 4px 4px 4px 4px;
height: 20px;
width: 320px;
color: #0054a6;
font-family: Helvetica-Neue, Helvetical,Arial, Sans Serif;
font-weight: bold;
font-size: 16px;
line-height: 20px;
float: left;
}

#Event_Time p{
	color: #0054a6;
	font-family: Helvetica-Neue, Helvetical,Arial, Sans Serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 27px;
	padding-left: 5px;
	text-decoration: none;
}

#Event_Time {
height: 30px;
width: 325px;
/*background-color: aqua;*/
float: left;
padding: 5px;
}

#Event_Time textarea {
border-radius: 4px 4px 4px 4px;
height: 20px;
width: 320px;
color: #0054a6;
font-family: Helvetica-Neue, Helvetical,Arial, Sans Serif;
font-weight: bold;
font-size: 16px;
line-height: 20px;
float: left;
}

#Event_Description {
float: left;
width: 320px;
/*background-color: yellow;*/
padding: 5px;
}

#Event_Description p{
color: #333333;
font-family: Helvetica-Neue, Helvetical,Arial, Sans Serif;
font-size: 14px;
line-height: 15px;
text-decoration: none;
padding: 5px;
border: 1px solid #0054a6;
border-radius: 4px 4px 4px 4px;
}

#Event_Description textarea {
	color: #333333;
	font-family: Helvetica-Neue, Helvetical,Arial, Sans Serif;
	font-size: 14px;
	line-height: 15px;
	text-decoration: none;
	padding: 5px;
	border: 1px solid #0054a6;
	border-radius: 4px 4px 4px 4px;
	height: 40px;
	width: 320px;
}

#Friends_Attending {
height: 20px;
width: 400px;
float: left;
/*background-color: maroon;*/
}

#Friends_Attending h2{
color: #0054a6;
font-family: Helvetica-Neue, Helvetical,Arial, Sans Serif;
font-size: 16px;
font-weight: bold;
line-height: 20px;
text-decoration: none;
}

#With_Friends {
height: 90px;
width: 390px;
float: left;
/*background-color: blue;*/
padding: 5px;
background-color: #dddddd;
border-radius: 4px 4px 4px 4px;
}

#With_Friends img {
float: left;
height: 55px;
width: 55px;
padding: 5px 5px 5px 5px;
}

#Friend {
float: left;
height: 80px;
width: 65px;
/*background-color: teal;*/
padding-right: 12px;
padding-bottom: 10px;
}

#Friend img {
float: left;
height: 60px;
width: 60px;
}

#Friend p{
color: #0054a6;
font-family: Helvetica-Neue, Helvetical,Arial, Sans Serif;
font-size: 13px;
font-weight: bold;
line-height: 18px;
text-decoration: none;
float: right;
}

#Add_Friends {
float: left;
background-color: #0054a6;
padding: 5px 5px 5px 5px;
border-radius: 0px 0px 4px 4px;
}

#Add_Friends  a {
text-decoration: none;
color: #eeeeee;
font-family: Helvetica-Neue, Helvetical,Arial, Sans Serif;
font-size: 14px;
font-weight: bold;
}

#Add_Friends  a:hover {
text-decoration: none;
color: #ff6600;
font-family: Helvetica-Neue, Helvetical,Arial, Sans Serif;
font-size: 14px;
font-weight: bold;
}

#Spacer {
/*background-color: teal;*/
float: left;
width: 10px;
height: 20px;
}

#LSpacer {
/*background-color: teal;*/
float: right;
width: 10px;
height: 20px;
}

#Done {
float: right;
background-color: #0054a6;
padding: 5px 5px 5px 5px;
border-radius: 0px 0px 4px 4px;
}

#Done  a {
text-decoration: none;
color: #eeeeee;
font-family: Helvetica-Neue, Helvetical,Arial, Sans Serif;
font-size: 14px;
font-weight: bold;
}

#Done  a:hover {
text-decoration: none;
color: #ff6600;
font-family: Helvetica-Neue, Helvetical,Arial, Sans Serif;
font-size: 14px;
font-weight: bold;
}

